.nav-bar-job {
  height: 15vh;
  width: 100%;
  background-color: #c7c8cc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: sticky;
  top: 0px;
}

.log-header {
  height: 50px;
  align-self: center;
}

.home-jobs-container {
  display: flex;
  align-items: center;
}

.home-text {
  font-family: Roboto;
  font-size: 20px;
  color: #000000;
  align-self: center;
  margin-right: 15px;
  font-weight: bold;
}

.jobs-text {
  font-family: Roboto;
  font-size: 20px;
  color: #000000;
  align-self: center;
  margin-left: 15px;
  font-weight: bold;
}

.home-text :hover {
  scale: 2;
  color: #4f46e5;
}

.logout-btn {
  width: 150px;
  height: 50px;
  background-color: #4f46e5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 18px;
  color: #ffffff;
  border-width: 0px;
}

.icon-container {
  display: flex;
  display: none;
  align-self: center;
}

.icon {
  height: 25px;
  width: 25px;
  color: #ffffff;
  margin-right: 15px;
  margin-left: 15px;
  align-self: center;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
